<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h3">ngx-canvas-graph wrapper</span>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="alert alert-success " role="alert">{{lastMessage}}</div>
      <button (click)="recreate()" class="btn btn-outline-success mx-2">Recreate</button>
      <button (click)="plain = !plain; recreate()" class="btn btn-outline-success mx-2">Toggle Plain/Custom</button>
    </div>
    <div class="col-md-10">

        <lib-ngx-canvas-graph [graphId]="'customId'" 
          [initialCollapseDepth]="2"
          [graphData]="graphData"
          (nodeClick)="nodeClick($event)"
          (nodeMouseOver)="nodeMouseOver($event)"
          (clearOverride)="clearOverride($event)"
          (linkPostDraw)="linkPostDraw($event)"
          (linkPreDraw)="linkPreDraw($event)"
          (nodePreDraw)="nodePreDraw($event)"
          (nodePostDraw)="nodePostDraw($event)"
          ></lib-ngx-canvas-graph>

          
    </div>
  </div>
</div>


